<html xmlns:th="http://www.thymeleaf.org">
<body>

	<h1>Cache page</h1>
	
	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
	
	<div>
		<p>Cache size is <h3 th:text="${cacheSize}"></h3></p>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/cache/upload">
			<table>
				<tr><td>Cache to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>
	
	<ul>
		<li th:each="row : ${rows}" th:text="${row.key}"> </li>
	</ul>

	<div>
		<form method="POST" action="/cache/export">
			<table>
				<tr><td></td><td><input type="submit" value="Export cache" /></td></tr>
			</table>
		</form>
	</div>
	
	<div>
		<form method="POST" action="/cache/save">
			<table>
				<tr><td></td><td><input type="submit" value="Save cache" /></td></tr>
			</table>
		</form>
	</div>


</body>
</html>