<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"	integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
	crossorigin="anonymous"></script>
	
	<script>
		$('document').ready(function() {
			$('button#prephase_visible').click(function() {
				//$('#prephase').toggle();
			});
			
			$('button#prephase_visible').click();
		});
	</script>
</head>

<body>

	<button id="prephase_visible">Show/Hide prephase</button>


	<div th:if="${message}">
		<h2 th:text="${message}" />
	</div>

	<div th:if="${errors}">
		<p th:text="'error count is ' + ${#lists.size(errors)}" />
	</div>

	<div id="prephase">
		<h1>import</h1>
		<div>
			<form method="POST" enctype="multipart/form-data" action="/csv_file">
				<table>
					<tr>
						<td>File to upload:</td>
						<td><input type="file" name="file" /></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="Upload" /></td>
					</tr>
				</table>
			</form>
		</div>

		places in memory <span th:text="${#lists.size(places)}"> 0 </span>


		<h1>validate</h1>
		<form method="post" action="/validate">
			<input type="submit" />
		</form>

		<h1>filter</h1>
		<form method="post" action="/filter">
			<input type="submit" />
		</form>

		<h1>locate</h1>
		<p>
			key=<span th:text="${apiPart}">apiPart</span>
		</p>
		<p>
			cache size: <span th:text="${cacheSize}">size of cach</span> 
		</p>
		
		<form method="post" action="/locate">
			<input type="submit" />
		</form>
	</div>

	<h1>areas</h1>
	<h2>add new area</h2>
	<form method="post" action="/area">
		<label for="nr">nr</label> <input name="nr" th:value="${suggestedAreaNr}"/>
		<label for="name">name</label> <input name="name"/> 
		<input type="submit" />
	</form>

	<div class="area" th:each="area : ${areas}">
		<h3>add place to area</h3>
		<label th:text="'area name ' + ${area.name} + ' nr '+ ${area.nr}"></label>
		<form action="/area/assign-place" method="post">
			<label for="id">place id</label><input type="number" name="placeId" />
			<input type="hidden" name="areaNr" th:value="${area.nr}" />			
		</form>
		<h3>list of places</h3>
		<div class="place_in_area" th:each="place : ${area.places}">
			<label th:text="${place.id}"></label>
		</div>
		
	</div>

	<h1>unassigned places</h1>

	<div id="unassignedPlaces">
		<div class="unassignedPlace" th:each="place : ${unassignedPlaces}">
			<span>place </span> <span th:text="${place.streetAndFlat}"/>
			<span>id</span> <span th:text="${place.id}">id</span>
		</div>
	</div>

</body>
</html>